
/*a layer to dim out the bg when the help button is clicked*/
  .help-translucent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.5); 
  z-index: 999;
  display: none;
}


.help-text-feedback {
  background-color: #f0f0f0;
  color: #333;
  border-left: 5px solid #195632;
  padding: 5px 10px;          
  left: 170px;
  top: 210px;
  border-radius: 15px;
  font-size: 14px;
  position: absolute;
  display: none;
  z-index: 1000;
  animation: fadeIn 0.3s ease;
  width: 300px;               
  line-height: 1.5;          
  white-space: normal;      
}

.help-text-feedback::before {
  content: "";
  position:absolute;
  top: 50%;
  transform: translateY(-100%);
  left: -10px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #195632;
}

.help-text-grid {
  background-color: #f0f0f0;
  color: #333;
  border-left: 5px solid #195632;
  padding: 5px 10px;          
  left: 475px;
  bottom: 300px;
  border-radius: 15px;
  font-size: 14px;
  position: absolute;
  display: none;
  z-index: 1000;
  animation: fadeIn 0.3s ease;
  width: 300px;               
  line-height: 1.5;          
  white-space: normal;      
}

.help-text-grid::before {
  content: "";
  position:absolute;
  top: 50%;
  transform: translateY(-100%);
  left: -10px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #195632;
}


.help-text-status {
  background-color: #f0f0f0;
  color: #333;
  border-left: 5px solid #195632;
  padding: 5px 10px;          
  left: 280px;
  top: 60px;
  border-radius: 15px;
  font-size: 14px;
  position: absolute;
  display: none;
  z-index: 1000;
  animation: fadeIn 0.3s ease;
  width: 300px;               
  line-height: 1.5;          
  white-space: normal;      
}

.help-text-status::before {
  content: "";
  position:absolute;
  top: 20%;
  transform: translateY(-100%);
  left: -5px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #195632;
}

.help-text-history {
  background-color: #f0f0f0;
  color: #333;
  border-left: 5px solid #195632;
  padding: 5px 10px;          
  left: 980px;
  top: 50px;
  border-radius: 15px;
  font-size: 14px;
  position: fixed;
  display: none;
  z-index: 1000;
  animation: fadeIn 0.3s ease;
  width: 300px;               
  line-height: 1.5;          
  white-space: normal;      
}

.help-text-history::before {
  content: "";
  position:absolute;
  top: 20%;
  transform: translateY(-100%);
  left: -5px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #195632;
}

.help-text-language {
  background-color: #f0f0f0;
  color: #333;
  border-left: 5px solid #195632;
  padding: 5px 10px;          
  right: 950px;
  bottom: 50px;
  border-radius: 15px;
  font-size: 14px;
  position: fixed;
  display: none;
  z-index: 1000;
  animation: fadeIn 0.3s ease;
  width: 300px;               
  line-height: 1.5;          
  white-space: normal;      
}

.help-text-language::before {
  content: "";
  position:absolute;
  bottom: -40%;
  transform: translateY(-100%);
  left: -5px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #195632;
}


.help-text-seeding {
  background-color: #f0f0f0;
  color: #333;
  border-left: 5px solid #195632;
  padding: 5px 10px;          
  left: 170px;
  top: 95px;
  border-radius: 15px;
  font-size: 14px;
  position: absolute;
  display: none;
  z-index: 1000;
  animation: fadeIn 0.3s ease;
  width: 300px;               
  line-height: 1.5;          
  white-space: normal;      
}

.help-text-seeding::before {
  content: "";
  position:absolute;
  top: 50%;
  transform: translateY(-100%);
  left: -10px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #195632;
}


.help-text-watering {
  background-color: #f0f0f0;
  color: #333;
  border-left: 5px solid #195632;
  padding: 5px 10px;          
  left: 170px;
  top: 153px;
  border-radius: 15px;
  font-size: 14px;
  position: absolute;
  display: none;
  z-index: 1000;
  animation: fadeIn 0.3s ease;
  width: 300px;               
  line-height: 1.5;          
  white-space: normal;      
}

.help-text-watering::before {
  content: "";
  position:absolute;
  top: 50%;
  transform: translateY(-100%);
  left: -10px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #195632;
}

.help-text-questions {
  background-color: #f0f0f0;
  color: #333;
  border-right: 5px solid #195632;
  padding: 5px 10px;          
  right: 105px;
  bottom: 25px;
  border-radius: 15px;
  font-size: 14px;
  position: absolute;
  display: none;
  z-index: 1000;
  animation: fadeIn 0.3s ease;
  width: 300px;               
  line-height: 1.5;          
  white-space: normal;      
}

.help-text-questions::after {
  content: "";
  position:absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -10px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #195632;
}